
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0px;
    padding-left:6px;
    padding-right: 50px;
    background-color: black;
    color: #FFFFFF;
}
.navbar_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

}
.navbar_left_box_pages p{
    font-size: 16px;
    font-family:sans-serif;
    cursor: pointer;
}
.navbar_left_box_pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;


}
.navbar_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;

}